$button-bg: #0099ff;  // Cor azul vibrante para o botão de ação
$button-bg-hover: #b4d2ff;  // Cor mais clara para o efeito de hover no botão

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #c3d4f2; // Azul ligeiramente mais escuro para mais contraste
        padding: 20px; // Maior padding para mais espaço ao redor do conteúdo
        width: 100%;

        .header-icon {
            img {
                width: 250px; // Reduzi o tamanho para balancear visualmente com o botão
            }
        }

        .header-user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                text-align: center; // Centralizado para ficar mais simétrico
                font-weight: 300; // Fonte mais fina para um visual delicado
            }

            #linkContainer {
                padding-right: 20px; // Ajustado para centralizar os links
                padding-left: 0;
                padding-bottom: 0;
                display: flex;
                gap: 15px; // Espaço entre os links

                .header-link {
                    color: #0099ff; // Cor do link
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;
                    transition: color 0.3s;

                    &:hover {
                        color: #b4d2ff; // Cor do link no hover
                    }
                }
            }
        }
    }
}
